body {
    margin: 0;
    text-decoration: none;
    background-color: black;
    color: white;
}


.container {
margin: 0 auto;
max-width: 1280px;
padding-left: 32px;
padding-right: 32px;

outline: 2px solid blue;
}
